<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EntidadUsuario</servlet-name>
        <servlet-class>com.servlets.EntidadUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verUsuario</servlet-name>
        <servlet-class>com.servlets.verUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntidadUsuario</servlet-name>
        <url-pattern>/EntidadUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verUsuario</servlet-name>
        <url-pattern>/verUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
